@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@supports (-webkit-appearance: -apple-pay-button) { 
    .apple-pay-button {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
    }
    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 200px;
        min-height: 32px;
        max-height: 64px;
    }
    .apple-pay-button-black {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }
}



*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
}
body {
    text-align: center;
}

.langWrap{
margin-right: 10%;
display: flex;
flex-wrap: nowrap;
align-items: center;
}
h1 {
    color: white;
    text-align: center;
    align-items: center;
}
.conteinerIndex {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 75%;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-radius: 22px 22px 1px 1px;
    color: white;
    background-color: black;
}
.logo{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    color: black;
    background-color: white;
    opacity: .61;
    font-size: 0.8rem;
    margin-top: 0.5%;
    align-items: center;
    justify-content: center;
}
.h1 {
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
}
.name {
    text-align: center;
    margin-top: 5%;
}
p {
    text-align: center;
}
h3{
    text-align: center;
}
image {
    align-items: center;
}
.description{
    margin-top: 5%;
}
.personPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.buttonPosition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: end;
}
.buttons {
    margin: 5%;
}
.buttonStyle {
    color: black;
    font-size: 20px;
    border-radius: 50%;
    margin: 5%;
    border: 2px solid #2C599D;
    background-color: white;
}
.b5{
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.b10{
    width: 50px;
    height: 50px;
}
.b25{
    width: 75px;
    height: 75px;
}
.buttonStyle:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.tipsInput {
    border:none;
    border-bottom: 2px solid black;
    width: 200px;
}
footer {
    margin-top: 5%;
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 1px 1px 22px 22px;
    background-color: black;
}
.payment {
    margin-top: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.paymentButton {
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
a{
    text-decoration: none;
}

.svgIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.svgIcon, .langIcon{
    margin-right: 5%;
}
.cardContainer{
display: flex;
justify-content: center;
align-items: center;
margin: 5%;
border-radius: 25px;
height: 250px;
width: 350px;
border: 2px solid black;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background: linear-gradient(245.65deg, #FCFDFF -109.03%, rgba(228, 230, 233, 0.357607) 28.6%, rgba(25, 76, 123, 0.207559) 60.74%, rgba(51, 144, 231, 0) 105.21%);
}
.card-number-input{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 200px;
}
.card-holder-input{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 200px;
}

.inputFlex{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
    justify-content: center;
}
.monthAndYear{
    display: flex;
    flex-direction: row;
}
.expairy-year{
    margin-left: 5%;
}
.imageDiv{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}
.month-input,  .year-input{
    background-color: transparent;
}
.cvv{
margin-left: 5%;
}
.cvv-input{
    min-width: 70px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;

}
.payBtn{
    background-color: black;
    color: white;
    width: 11vw;
    height: 3vh;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 2%;
}

@media only screen and (max-width: 400px){
    .cardContainer{
        display: flex;
        margin: 5%;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }
    .cvvInput{
        max-width: 50px;
        
    }
}